<h1> Tired of being called a loser? tell them you're 'musician'- add your shit here </h1>

<form  action="/artists" method="POST">
<label>bitch ass name<input type="text" name="artist[name]"></label><br>
<label>u legal? whats you're age</label><input type="text" name="artist[age]"><br>
<label>say somethin(short)</label><input type="text" name="artist[bio]"><br>

<input type="submit" id="submit" value="sumbitch">











  </form>
